.welcome-anime-container {
  position: relative;
}

.video-class {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  position: fixed;
}

.welcome-container {
  position: relative;
  top: 2rem;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.welcome-container > div:nth-child(1) {
  align-self: flex-end;
}

.welcome-container > div:nth-child(1) button {
  background-color: transparent;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  margin: 0.5rem;
  position: relative;
  font-size: 1rem;
}

.welcome-container > div:nth-child(1) button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.welcome-container > div:nth-child(1) button:hover::after {
  width: 100%;
}

.welcome-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

.about-us-container p {
  max-width: 600px;
  text-align: center;
}

.aboutus-img {
  border-radius: 50%;
}

.our-services-container {
  position: relative;
  background-color: #1f1f1f;
  color: #ffffff;
  margin-top: 5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-services-container h1 {
  color: #00ff7f;
}

.our-services-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our-services-container ul li {
  width: 40%;
  margin: 1rem;
}

.visit-again-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  color: #ffffff;
}
